<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/mohamedelgendy/IdeaProjects/PortalPlatform_V2">
        <classes>
            <class name="base.MainTestRunner"></class>
            <class name="base.LoginModule"></class>
<!--            <class name="base.UsersModule"></class>-->
<!--            <class name="base.AffiliatesModule"></class>-->
            <class name="base.LicenseModule"></class>
<!--           <class name="base.AlertsModule"></class>-->
<!--           <class name="base.InstrumentsModule"></class>-->
<!--            <class name="base.RecipesModule"></class>-->
<!--            <class name="base.ManageCalibrationModule"></class>-->
<!--            <class name="base.JournalsModule"></class>-->
<!--            <class name="base.DashboardModule"></class>-->


        </classes>
    </test>
</suite>